/* Definimos unos estilos generales para la página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .botones {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 10px;
  }
  
  .form-group {
    margin: 10px;
  }
  
  label {
    display: block;
  }
  
  input {
    display: block;
    width: 100%;
  }
  
  .error {
    color: red;
  }
  