/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos del menú */
  #menu {
    background-image: linear-gradient(to right, #ed585d, #98fff5);
    width: 100%;
  }
  
  #menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  #menu ul li {
    padding: 15px;
  }
  
  #menu ul li a {
    color: rgb(36, 18, 129);
    text-decoration: none;
    font-weight: bold;
  }
  
  #menu ul li a:hover {
    color: black;
  }
  
  /* Estilos del contenedor */
  #contenedor {
    margin: 20px;
    padding: 20px;
    border: 1px solid #f9e0fb;
  }
  
  /* Estilos de la barra */
  #barra {
    background-image: linear-gradient(to right, #ffeca1, #c9ff7d);
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  #barra ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  #barra ul li {
    margin: 10px;
  }
  
  #barra ul li a {
    display: block;
  }
  
  #barra ul li a img {
    width: 50px;
    border-radius: 50%;
  }
  